<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Web Automation Task ">
  <test thread-count="5" name="Functionality Test">
    <classes>
      <class name="Tests.SearchFunctionalityTest"/>
      <class name="Tests.CartFunctionalityTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
